body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5984a0;
}

.site-header .navbar-nav .nav-link {
  color: #d7e3ea;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.file-square-image{
  width:135px;
  height:135px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.file-button{
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

#file-cell:hover,
#file-cell:focus {
  background: #f4f2f2;
  text-decoration: none;
  cursor: pointer;
}

#delete-button{
  color:#bf6363;
  border-color:#bf6363;
}

#delete-button:hover,
#delete-button:focus{
  color:#FFFFFF;
  background-color: #bf6363;
  border-color:#bf6363;
}

#input_field{
  margin:5px;
  display:none;
  width:100%;
}

#input_submit_download, #input_submit_share , #input_submit_delete {
  display:none;
  float: right;
  margin-top: 11px;
  color:#60a56e;
  border-color:#60a56e;
}

#input_submit_download:hover,
#input_submit_share:hover ,
#input_submit_delete:hover {
  color:#FFFFFF;
  background-color: #60a56e;
  border-color:#60a56e;
}
